

<div class="container">
   <form  [formGroup]="userDetails"  >
      <div class="row">
         <div class="col">
            <label for="name1">First Name: <span *ngIf="userDetails.controls['firstname'].touched && userDetails.controls['firstname'].invalid"></span></label>
                    <input type="text" placeholder="first name" id="name1" class="form-control" formControlName="firstname" >
          </div>
          <div class="col">
            <label for="name2">Last Name: <span *ngIf="userDetails.controls['lastname'].touched && userDetails.controls['lastname'].invalid"></span></label>
                    <input type="text" placeholder="last name" id="name2" class="form-control" formControlName="lastname">
          </div>
          <div class="col">
            <label for="name3">Place <span *ngIf="userDetails.controls['place'].touched && userDetails.controls['place'].invalid"></span></label>
                    <input type="text" placeholder="place" id="name3" class="form-control" formControlName="place">
          </div>
      </div>
   </form>
          <div class="row mt-2">
                    <button type="submit" (click)="submit1()" class="btn btn-success">submit</button>
          </div>
</div>
