<div class="container">
          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"><strong>Login</strong></p>
          <form [formGroup]="registerForm" #reg="ngForm">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                              <input type="email" id="form2Example1" class="form-control" formControlName="email"
                                        name="email" placeholder="Email" required />
                              <label class="form-label" for="form2Example1">Email</label>
                              <span
                                        *ngIf="(registerForm.controls.email.touched && registerForm.controls.email.invalid) ||
                  (submitted && registerForm.controls.email.untouched && registerForm.controls.email.invalid)">Email**</span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                              <input type="password" id="form2Example2" class="form-control" formControlName="password"
                                        name="password" placeholder="Password" required />
                              <label class="form-label" for="form2Example2">Password</label>
                              <span
                                        *ngIf="(registerForm.controls.password.touched && registerForm.controls.password.invalid) ||
                  (submitted && registerForm.controls.password.untouched && registerForm.controls.password.invalid)">password**</span>
                    </div>

                    <!-- Submit button -->
                    <button type="button" class="btn btn-primary btn-block mb-4" (click)="login()">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                              <p>Not a member? <a routerLink="/Sandeep/register">Register</a></p>
                    </div>
          </form>
</div>