<mat-card *ngIf="userDetails" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{userDetails.firstName}} {{userDetails.lastName}}</mat-card-title>
            <mat-card-subtitle>{{userDetails.email}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <mat-list>
                  <mat-list-item>
                      <div matline>
                          Mobile No
                          <button mat-button>{{userDetails.mobileNo}}</button>
                      </div>
                  </mat-list-item>
                  <mat-list-item>
                      <div matline>
                          Gender
                          <button mat-button>{{userDetails.gender}}</button>
                      </div>
                  </mat-list-item>
                  <mat-list-item>
                      <div matline>
                         Package
                          <button mat-button>{{userDetails.package}}</button>
                      </div>
                  </mat-list-item>
                  <mat-list-item>
                      <div matline>
                          BMI
                          <button mat-button>{{userDetails.bmi}}</button>
                      </div>
                  </mat-list-item>
                  <mat-list-item>
                      <div matline>
                          Bmi Result
                          <button mat-button>{{userDetails.bmiResult}}</button>
                      </div>
                  </mat-list-item>
                  <mat-list-item>
                      <div matline>
                          Trainer Required
                          <button mat-button>{{userDetails.requireTrainer}}</button>
                      </div>
                  </mat-list-item>
                  <mat-list-item>
                      <div matline>
                          Goals
                          <button mat-button>
                              <mat-chip-listbox>
                                  <ng-container *ngFor="let row of userDetails.important">
                                      <mat-chip-option selected>{{row}}</mat-chip-option>
                                  </ng-container>
                              </mat-chip-listbox>
                          </button>
                      </div>
                  </mat-list-item>
              </mat-list>
          </mat-card-content>
        </mat-card>
        