
<div class="center">
          <h3 style="text-align: center;">chaildcomponent works!</h3>
          <button (click)="chaildtoparent()">Sen Data Chaild to Parent</button>
<dl *ngIf="show" >
          
          <dt>id:</dt>
          <dd>{{parentdata.id}}</dd>
          <dt>title:</dt>
          <dd>{{parentdata.title}}</dd>
          <dt>description:</dt>
          <dd>{{parentdata.description}}</dd>
          <dt>price:</dt>
          <dd>{{parentdata.price}}</dd>
          <dt>discountPercentage:</dt>
          <dd>{{parentdata.discountPercentage}}</dd>
          <dt>rating:</dt>
          <dd>{{parentdata.rating}}</dd>
          <dt>stock:</dt>
          <dd>{{parentdata.stock}}</dd>
          <dt>brand:</dt>
          <dd>{{parentdata.brand}}</dd>
          <dt>category:</dt>
          <dd>{{parentdata.category}}</dd>
</dl>
</div>