.center {
          border: 5px solid;
          position: absolute;
          width: 400px;
          top: 90%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 10px;
        }