<div>
          <p>
                    <mat-toolbar color="primary">
                              <a routerLink={{dashBoardLink}}>{{Logo}}</a>&nbsp;&nbsp;
                              <a routerLink={{homeLink}}>{{home}}</a>&nbsp;&nbsp;
                              <a routerLink={{aboutLink}}>{{about}}</a>&nbsp;&nbsp;
                              <a routerLink={{productsLink}}>{{products}}</a>&nbsp;&nbsp;
                              <a routerLink={{contactLink}}>{{contact}}</a>
                              <span class="example-spacer"></span>
                              <a routerLink={{loginLink}}>{{Logout}}</a>
                    </mat-toolbar>
          </p>
</div>