<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    (click)="opened = !opened"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome Aboard</span>

  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="opened" mode="side">
    <mat-nav-list>
      <mat-menu></mat-menu>
      <mat-list-item>
        <button mat-button routerLink="#">
          <mat-icon>dashboard</mat-icon>Dashboard
        </button>
      </mat-list-item>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Administration
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <button mat-button routerLink="/mohammadusers">
              <mat-icon>account_circle</mat-icon>Users
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="/#">
              <mat-icon>accessibility</mat-icon>Roles
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="/#">
              <mat-icon>sort</mat-icon>UserRoles
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="/#">
              <mat-icon>storage</mat-icon>Menus
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="/#">
              <mat-icon>tune</mat-icon>MenuRoles
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="/#">
              <mat-icon>thumb_up</mat-icon>Permissions
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-list-item>
        <button mat-button><mat-icon>build</mat-icon>Maintance</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon>swap_horizontal_circle</mat-icon>Transaction
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>settings</mat-icon>Settings</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>help</mat-icon>help</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>reports</mat-icon>Reports</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content> Main Content </mat-sidenav-content>
</mat-sidenav-container>
