.center {
          border: 5px solid;
          position: absolute;
          top: 20%;
          left: 50%;
          width: 500px;
          height: 220px;
          transform: translate(-50%, -50%);
          padding: 10px;
        }