<mat-toolbar color="primary">
  <div class="example-spacer"></div>
  <button mat-icon-button routerLink="/maheshdasboard">
    <mat-icon>dashboard</mat-icon>
  </button>
  <span> Dashboard</span>
  <button
    mat-icon-button
    routerLink="/maheshdasboard"
    [matMenuTriggerFor]="adminmenus"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <span [matMenuTriggerFor]="adminmenus">Admin</span>
  <div class="example-spacer"></div>
  <mat-menu #adminmenus="matMenu" class="adminmenuscolor">
    <button mat-menu-item routerLink="/mohammad">
      <mat-icon>account_circle</mat-icon><b>User</b>
    </button>
    <button mat-menu-item>user Roles</button>
    <button mat-menu-item>Menu</button>
    <button mat-menu-item>Menu Roles</button>
  </mat-menu>

  <button
    mat-icon-button
    routerLink="/yadagiri"
    [matMenuTriggerFor]="Mainmenus"
  >
    <mat-icon>build</mat-icon>
  </button>
  <span [matMenuTriggerFor]="Mainmenus">Maintenance</span>
  <mat-menu #Mainmenus="matMenu">
    <button mat-menu-item>Maintenance1</button>
    <button mat-menu-item>Maintenance2</button>
  </mat-menu>
  <button
    mat-icon-button
    routerLink="Transaction"
    [matMenuTriggerFor]="Transmenus"
  >
    <mat-icon>swap_horizontal_circle</mat-icon>
  </button>
  <span [matMenuTriggerFor]="Transmenus">Transaction</span>
  <mat-menu #Transmenus="matMenu">
    <button mat-menu-item>Transaction1</button>
    <button mat-menu-item>Transaction2</button>
  </mat-menu>
  <button mat-icon-button routerLink="Reports" [matMenuTriggerFor]="repmenus">
    <mat-icon>report</mat-icon>
  </button>
  <span [matMenuTriggerFor]="repmenus">Reports</span>

  <mat-menu #repmenus="matMenu">
    <button mat-menu-item>Reports1</button>
    <button mat-menu-item>Reports2</button>
  </mat-menu>
</mat-toolbar>
<div class="content">
  Main Content
</div>
