ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
} 
ul{
    gap:20px;
    justify-content:flex-start;
    display:flex ;
    background-color: rgb(138, 128, 128);
    height: 40px;
} 
 a{
    line-height: 40px;
    color: white;
    margin: 0 20px;
} 