<h4>user dashboard</h4>
<mat-list role="list">
  <mat-list-item role="listitem" routerLink="/yadagiri">Yadagiri</mat-list-item>
  <mat-list-item role="listitem" routerLink="/mahesh/dashboard"
    >Mahesh</mat-list-item
  >
  <mat-list-item role="listitem" routerLink="/mohammad/component"
    >Mohammad</mat-list-item
  >
  <mat-list-item role="listitem" routerLink="/navyalogin">Navya</mat-list-item>
  <mat-list-item role="listitem" routerLink="/Sandeep">Sandeep</mat-list-item>
  <mat-list-item role="listitem" routerLink="/aditya/CRUD"
    >Aditya</mat-list-item
  >
  <mat-list-item role="listitem" routerLink="/Naresh">Naresh</mat-list-item>
  <mat-list-item role="listitem" routerLink="/dinesh"
  >Dinesh</mat-list-item>
<mat-list-item role="listitem" routerLink="/pranayhome">Pranay</mat-list-item>
<mat-list-item role="listitem" routerLink="/Nagarjuna/Shopping">Nagarjuna</mat-list-item>

</mat-list>
