<div class="mat-elevation-z8">
 <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="menuId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MenuID </th>
                    <td mat-cell *matCellDef="let row"> {{row.menuId}} </td>
         </ng-container>
                  <ng-container matColumnDef="moduleName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ModuleName </th>
                    <td mat-cell *matCellDef="let row"> {{row.moduleName}}</td>
          </ng-container>
          <ng-container matColumnDef="menuTitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MenuTitle </th>
                    <td mat-cell *matCellDef="let row"> {{row.menuTitle}}</td>
         </ng-container>         
         <ng-container matColumnDef="moduleId">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header> ModuleID </th>
                   <td mat-cell *matCellDef="let row"> {{row.moduleId}} </td>
        </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>   
</table>
</div>